<footer class="text-center w-100 mt-auto fixed-bottom">
    <!-- TODO: Add the <script><script /> tag to include bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <style>
        p {
            margin: 0px auto;
            max-width: 500px;
            {{!-- background-color: rgba(255, 255, 255, 0.5); --}}
            align-content: center;
            font-weight: 700;
        }

    </style>

    <p style="color: #ffffff;">
        &copy; Copyright 2024 : CSCI 3308 - Final  Project  TheSkiiDreamTeam
    </p>
</footer>
